.hhold {
    display: grid;
    grid-template-columns: 50px 1fr;
   
}

.superhold {
    padding-top: 72px;
    padding-bottom: 72px;
    border-bottom: 1px solid var(--mono50);
}

.svghold {
transition: transform 0.5s;
}

.svgrotate {
    transform: rotate(0.5turn);
    transition: transform 0.5s;
}

.none {
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
}

.wide {
    max-width: 650px;
    text-align: left;
    margin: 0;
}

.topmargin {
    margin-top: 4em;
    transition: height 1s, visibility 0.5s;
    display: block;
    visibility: visible;
    animation: appear 2s;
    max-width: 600px;
}

.topmargin > * {
    margin-bottom: 1em;
}

.hidden {
    height: 0px;
    position: absolute; 
    visibility: hidden;
    transition: height 0.5s;
}


@media only screen and (max-width: 650px) {
    .superhold {
        padding-top: 4em;
        padding-bottom: 4em;
        border-bottom: 1px solid var(--mono50);
    }
}