.feathold {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.featholdb {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-items: start;
    margin-top: 1em;
    margin-bottom: 1em;
}

.para {
    color: var(--mono150);
}

.writinghold {
    max-width: 500px;
}

.writinghold > p {
    margin-top: 1em;
    margin-bottom: 1em;
}
.a {
    text-decoration: none;
    cursor: pointer;
}

.timelinegrid {
    display: grid;
    grid-template-columns: 1fr 21px 1fr;
    grid-column-gap: 2em;
}

.hline {
    border-left: 1px solid var(--mono50);
    height: 100%;
}

.round {
    width: 21px;
    height: 42px;
    border: 1px solid var(--mono50);
    border-radius: 20px;
}

.linehold {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timehold {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--mono50);
}

#sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 133px;
    margin: 0;
    padding-top: 15vh;
    height: 400px;
}

.t {
    color: var(--mono175);
    margin-top: 1em;
}

.p {
    color: var(--mono125);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.a {
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .feathold, .featholdb {
        grid-template-columns: 1fr;
    }
    .writinghold {
        max-width: 500px;
        grid-row-start: 2;
    }
}