.feathold {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-items: center;
    margin-top: 8em;
    margin-bottom: 72px;
}

.para {
    color: var(--mono150);
}

.writinghold {
    max-width: 600px;
}

.altbutton {
    background: var(--mono00); padding: 0.5em 2em; border-radius: 0.3em; font-size: 1em; outline: currentcolor none medium; border: 1px solid var(--mono50); color: var(--primary75); box-shadow: rgb(231, 231, 231) 3px 3px 4px; cursor: pointer; 
    margin-left: 1em;
}

.altbutton:hover {
    color: var(--primary100);
    box-shadow: var(--mono50) 3px 3px 4px; 
}

.a {
    text-decoration: none;
    cursor: pointer;
}

.timelinegrid {
    display: grid;
    grid-template-columns: 1fr 21px 1fr;
    grid-column-gap: 2em;
}

.hline {
    border-left: 1px solid var(--mono50);
    height: 100%;
}

.round {
    width: 21px;
    height: 42px;
    border: 1px solid var(--mono50);
    border-radius: 20px;
}

.linehold {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timehold {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--mono50);
}

#sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 133px;
    margin: 0;
    padding-top: 15vh;
    height: 400px;
}

.t {
    color: var(--mono175);
}

.p {
    color: var(--mono125);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.a {
    text-decoration: none;
    cursor: pointer;
}


.refhold {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    grid-gap: 1em;
}

.refhold>div {
   
}

.statement {
    display: flex;
    align-items: center;
    position: absolute;
    width: 300px;
    justify-content: center;
}

.statement > * {
    margin-right: 1em;
}

.righthold {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 72px;
}

.logicicon {
    width: 25px;
}

.logicicon0 {
    width: 22px;
}

.logicicon1 {
    width: 20px;
}

.logicicon10 {
    width: 22px;
}

.logicicon11 {
    width: 24px;
}

.gridhold {
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 360px;
    background: transparent;
}

.logicgrid {
    display: grid;
    grid-template-columns: 38px 1fr 38px 38px 38px 38px;
    grid-template-rows: 38px 38px 38px 38px 38px 38px;
}

.logicgrid > div {
    padding: 0.5em;
    border-left: 1px solid var(--mono50);
    border-top: 1px solid var(--mono50);
}

.label {
    font-size: 0.65em;
    text-transform: uppercase;
    color: var(--primary75);
}

#z1 {
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: 1px solid var(--mono50);
    border-left: 1px solid var(--mono50);
    border-radius: 8px 0 0 0;
}

#z2 {
    border-radius: 0 8px 0 0;
    grid-column-start: 3;
    grid-column-end: 7;
}

#a1 {
    grid-column-start: 1;
    grid-column-end: 3;
    border: none;
    border-left: 1px solid var(--mono50);
}

#a2 {
    grid-column-start: 3;
}


#b1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#a2, #a3, #a4, #a5 {
    text-align: center;
}

/*column a animation*/

#b2 { 
    grid-column-start: 3;
    animation-timing-function: ease-in-out;
    animation: ra 20s infinite;
}

#a2 {
    animation: ra 20s infinite;
}


#c3 {
    animation: ra 20s infinite;
}

#d2 {
    animation: ra 20s infinite;
}

#e3 {
    animation: ra 20s infinite;
}

/**/

/*column b animation*/



#b3 { 
    animation-timing-function: ease-in-out;
    animation: rb 20s infinite;
}

#a3 {
    animation: rb 20s infinite;
}

#c4 {
    animation: rb 20s infinite;
}

#d3 {
    animation: rb 20s infinite;
}

#e4 {
    animation: rb 20s infinite;
}

/**/

/*column c animation*/

#b4 { 
    animation-timing-function: ease-in-out;
    animation: rc 20s infinite;
}

#a4 {
    animation: rc 20s infinite;
}

#c5 {
    animation: rc 20s infinite;
}

#d4 {
    animation: rc 20s infinite;
}

#e5 {
    animation: rc 20s infinite;
}

/**/

/* column d animation */

#b5 { 
    animation-timing-function: ease-in-out;
    animation: rd 20s infinite;
}

#a5 {
    animation: rd 20s infinite;
}

#c6 {
    animation: rd 20s infinite;
}

#d5 {
    animation: rd 20s infinite;
}

#e6 {
    animation: rd 20s infinite;
    border-radius: 0 0 8px 0;
}

/**/

#b5 {
    border-right: 1px solid var(--mono50);
}

#c1 {
    text-align: center;
}

#c6 {
    border-right: 1px solid var(--mono50);
}

#d1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#d5 {
    border-right: 1px solid var(--mono50);
}

#e1 {
text-align: center;
border-radius: 0 0 0 8px;
}

#e1, #e2, #e3, #e4, #e5 {
    border-bottom: 1px solid var(--mono50);
}

#e6 {
    border-bottom: 1px solid var(--mono50);
    border-right: 1px solid var(--mono50);
}

.legend {
    margin-top: 72px;
    margin-bottom: 72px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4em;
    align-items: center;
    justify-items: center;
    max-width: 400px;
    min-width: 200px;
}

.ruled {
    border-bottom: 1px solid var(--mono50);
    width: 100%;
}

@keyframes ra {
    0% {
        background-color: var(--mono25);
    }
    20% {
        background-color: var(--mono25);
    }
    25% {
        background-color: var(--mono00);
    }
    100% {
        background-color: var(--mono00);
    }
}

@keyframes rb {
    0% {
        background-color: var(--mono00);
    }
    20% {
        background-color: var(--mono00);
    }
    25% {
        background-color: var(--mono25);
    }
    45% {
        background-color: var(--mono25);
    }
    50% {
        background-color: var(--mono00);
    }
    100% {
        background-color: var(--mono00);
    }
}

@keyframes rc {
    0% {
        background-color: var(--mono00);
    }
    45% {
        background-color: var(--mono00);
    }
    50% {
        background-color: var(--mono25);
    }
    70% {
        background-color: var(--mono25);
    }
    75% {
        background-color: var(--mono00);
    }
    100% {
        background-color: var(--mono00);
    }
}

@keyframes rd {
    0% {
        background-color: var(--mono00);
    }
    70% {
        background-color: var(--mono00);
    }
    75% {
        background-color: var(--mono25);
    }
   
    100% {
        background-color: var(--mono25);
    }
}

@keyframes statmenta {
    0% {
        margin-left: -300px;
        visibility: hidden;
        opacity: 0;
        display: block;
    }
    5% {
        margin-left: -150px;
        visibility: visible;
        opacity: 1;
    }
    20% {
        margin-left: -150px;
        visibility: visible;
        opacity: 1;
    }
    25% {
        margin-right: -150px;
        visibility: hidden;
        opacity: 0;
        display: block;
    }
    26% {
        margin-left: -300px;
        margin-right: 0px;
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    100% {
        margin-left: -300px;
        margin-right: 0px;
        visibility: hidden;
        opacity: 0;
        display: none;
    }


}

@keyframes statmentb {
    0% {
        margin-left: -300px;
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    20% {
        margin-left: -300px;
        visibility: hidden;
        opacity: 0;
        display: block;
    }
    25% {
        margin-left: -150px;
        visibility: visible;
        opacity: 1;
    }
    45% {
        margin-left: -150px;
        visibility: visible;
        opacity: 1;
    }
    50% {
        margin-right: -150px;
        visibility: hidden;
        opacity: 0;
        display: block;
    }
    51% {
        margin-right: -180px;
        margin-left: -400px;
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    100% {
        margin-right: 0px;
        margin-left: -300px;
        visibility: hidden;
        opacity: 0;
        display: none;
    }


}

@keyframes statmentc {
    0% {
        margin-left: -300px;
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    
    45% {
        margin-left: -300px;
        visibility: hidden;
        opacity: 0;
        display: block;
    }
    50% {
        margin-left: -150px;
        visibility: visible;
        opacity: 1;
    }
    70% {
        margin-left: -150px;
        visibility: visible;
        opacity: 1;
    }
    75% {
        margin-right: -150px;
        visibility: hidden;
        opacity: 0;
        display: block;
    }
    76% {
        margin-right: 0px;
        margin-left: -300px;
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    100% {
        margin-right: 0px;
        margin-left: -300px;
        visibility: hidden;
        opacity: 0;
        display: none;
    }


}

@keyframes statmentd {
    0% {
        margin-left: -300px;
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    
    70% {
        margin-left: -300px;
        visibility: hidden;
        opacity: 0;
        display: block;
    }
    75% {
        margin-left: -150px;
        visibility: visible;
        opacity: 1;
    }
    95% {
        margin-left: -150px;
        visibility: visible;
        opacity: 1;
        display: block;
    }
    99% {
        margin-right: -150px;
        visibility: hidden;
        opacity: 0;
    }
    100% {
        margin-right: 0px;
        margin-left: -300px;
        visibility: hidden;
        opacity: 0;
        display: none;
    }


}

.statementhold {
    overflow-x: clip;
    max-width: 300px;
}

#topa {
    animation: statmenta 20s infinite;
}

#topb {
    animation: statmentb 20s infinite;
}

#topc {
    animation: statmentc 20s infinite;
}

#topd {
    animation: statmentd 20s infinite;
}

#bottoma {
    
    animation: statmenta 20s infinite;
}

#bottomb {
    
    animation: statmentb 20s infinite;
}

#bottomc {
    
    animation: statmentc 20s infinite;
}

#bottomd {
    
    animation: statmentd 20s infinite;
}

.toplabel {
    background: var(--purple75);
    color: var(--mono00);
    padding: 0.2em 0.8em 0.2em 0.8em;
    border-radius: 0.2em;
    font-size: 0.65em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 1.6em;
    border: medium none;
}

.refbox {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}

.labelhold {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.65em;
    text-transform: uppercase;
    color: var(--mono150);
}

.parastyle {
    color: var(--mono125);
    margin: 0;
}

.scenarioText {
    font-size: 1em;
}

@media only screen and (max-width: 1500px) {
    .scenarioText {
        font-size: 0.75em;
    }


}

@media only screen and (max-width: 900px) {
    .feathold {
        grid-template-columns: 1fr;
        margin-bottom: 0px;
    }

    .gridhold {
        border-radius: 8px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        max-width: 300px;
    }
    
    .logicgrid {
        display: grid;
        grid-template-columns: 38px 1fr 38px 38px 38px 38px;
        grid-template-rows: 38px 38px 38px 38px 38px ;
    }

    .righthold {
        width: 100%;
        padding-top: 72px;
        padding-bottom: 72px;
    }
}

@media only screen and (max-width: 500px) {
    .scenarioText {
        font-size: 0.6em;
    }


}