.hello {
    display: none;
}

.personagrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin-top: 1em;
}

.hrule {
    border-top: 1px solid var(--mono50);
    width: 100%;
    margin-top: 1em;
}

.flexdown {
    display: flex;
    flex-direction: column;
}

.flexdownb {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.flexdownb > a {
    margin-top: 0.5em;
}

.flexdown > a {
    margin-top: 0.5em;
}

.a {
    text-decoration: none;
}

#nomargin {
    margin-top: 0em;
}

#yesmargin {
    margin-top: 1em;
}

#wide {
    
}

.labelb {
    font-size: 0.65em;
    text-transform: uppercase;
    color: var(--mono150);
    margin-top: 1em;
}

.spacer {
    height: 1em;
}

.triflex {
    display: grid;
    grid-template-columns: auto 1px auto;
    grid-gap: 1em;
}

.hline {
    border-left: 1px solid var(--mono50);
    height: 100%; 
}


@media only screen and (max-width: 650px) {
    .personagrid {
        grid-template-columns: 1fr;
    }

    .triflex {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }

    .flexdownb {
        width: 100%;
    }
}
