.linkSelector {
    fill: var(--primary);
}

.linkSelector:after {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="22.5px" height="22.5px" viewBox="0 0 22.5 15.5"><title>icon-External</title><path fill="blue" d="M17.3,3.31H4.7a1.2,1.2,0,0,0-1.2,1.2v12.8a.5.5,0,0,0,.5.5.5.5,0,0,0,.42-.24l8.75-8.75.63,2.86.66-.67a8.87,8.87,0,0,1,.43-4.36l-.29-.3c-1.15.69-3.19.42-4.43.37l-.67.66,2.92.68L4.5,16V4.51a.2.2,0,0,1,.2-.2H17.3a.2.2,0,0,1,.2.2v13a.2.2,0,0,1-.2.2H7.75a.5.5,0,0,0-.5.5.5.5,0,0,0,.5.5H17.3a1.2,1.2,0,0,0,1.2-1.2v-13A1.2,1.2,0,0,0,17.3,3.31Z"/></svg>');
    margin-top: 18px;
    height: 22px;
}
